.btn-center {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alert-info-center {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.image-transparent-background img {
  background:
    repeating-conic-gradient(#b8b8b8 0% 25%, transparent 0% 50%)
      50% / 15px 15px
}